<div class="headerBar gap-6">

    <button type="button" class="button headerButton" onclick="window.location.href='/'">
      <span class="button-text font-serif-display text-1xl">SECRET CLUB</span>
    </button>

    <div class="buttonsBar gap-6">

      <button type="button" class="button" onclick="window.location.href='/sign-up'">
        <span class="button-icon"><ion-icon name="person"></ion-icon></span>
        <span class="button-text font-serif-display text-1xl">Sign Up</span>
      </button>

      <button type="button" class="button" onclick="window.location.href='/login'">
        <span class="button-icon"><ion-icon name="send"></ion-icon></span>
        <span class="button-text font-serif-display text-1xl">Login</span>
      </button>

    </div>

  </div>